Django==4.0.8
djangorestframework==3.13.1
djoser
drf-yasg
django-cors-headers
django-filter==22.1
django-debug-toolbar
django-baton
django-extra-settings==0.6.1
django-colorfield
django-watson
psycopg2-binary==2.8.6
gunicorn==20.1.0