<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medi_consult">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediConsult"
        tools:targetApi="31">
        <activity
            android:name=".ViewDoctorsList"
            android:label="Doctors"
            android:parentActivityName=".loginPatient"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:label="Reset Password"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginAdmin"
            android:exported="false" />
        <activity
            android:name=".loginDoctor"
            android:label="Dashboard"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginPatient"
            android:label="Dashboard"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterDoctor"
            android:exported="false"
            android:label="Doctor registration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterPatient"
            android:exported="false"
            android:label="Patient registration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>